<div class="container mt-5 col-sm-7">
  <div class="card border border-5 border-info">
    <div class="card-body">
      <h5>Poke List</h5>
      <div class="container col-8 mt-4 mb-4">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre Pokemon</th>
              <th scope="col">Img</th>
            </tr>
          </thead>
          <tbody *ngIf="listPokemonDetail">
            <tr *ngFor="let pokemon of listPokemonDetail">
              <td *ngIf="pokemon">{{pokemon.name}}</td>
              <td><img [src]="pokemon.sprites.front_default" alt=""></td>

            </tr>
            <hr>
          </tbody>
        </table>
        <div>
        <!--{{listaPokemon | json}}-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container col-sm-7">
  <div class="container col-2 mt-3 mb-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;- </span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            
            <span aria-hidden="true"> -&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

