<div class="container mt-5 col-sm-7" *ngIf="currentPokemon">
  <div class="card border border-5 border-info">
    <div class="card-body mt-2">
      <h5>Pokemon</h5>
      <div class="container mt-2" class="mx-auto" style="width: 150px;">
          <h3>{{currentPokemon.name}}</h3>
      </div>
      <div class="row mt-5" >
        <div class="col-sm-3">
          <table class="table table-bordered">
            <tr>
              <th>Detalles</th>
            </tr>
            <tr>
              <td>Id: {{currentPokemon.id}}</td>
            </tr>
            <tr>
              <td>Orden: {{currentPokemon.order}}</td>
            </tr>
            <tr>
              <td>Experiencia: {{currentPokemon.base_experience}}</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-6">
          <div class="card"  class="mx-auto" style="width: 150px;">
            <img [src]="currentPokemon.sprites.other.dream_world.front_default" class="card-img-top">
          </div>
        </div>
        <div class="col-sm-3">
          <table class="table table-bordered">
            <tr>
              <th>Habidades</th>
            </tr>

            <tr *ngFor="let abilities of currentPokemon.abilities">
              <td>{{abilities.ability.name}}</td>
            </tr>
          </table>
        </div>
        <div class="container mt-4">
          <div class="mx-auto" style="width: 100px;">
              <h3>
                <i class="fas fa-arrow-left" style="margin-right: 8px"></i> <i class="fas fa-arrow-right" style="margin-left: 8px"></i>
              </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

