

  <div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span><span class="text-light ml-2"> Pokedex</span>
        </button> <span class="text-light ml-3">{{title}}</span>
      </div>
    </nav>
    <div class="menu-principal">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-secondary p-4">
          <ul class="list-group">
            <li class="list-group-item"><a href="#" [routerLink]="['']" class="text-info stretched-link">Inicio</a></li>
            <li class="list-group-item"><a href="#" [routerLink]="['/buscar']" class="text-info stretched-link">Consultar pokemon</a></li>
            <li class="list-group-item"><a href="#" [routerLink]="['/listar']" class="text-info stretched-link">Listar pokemones</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


<router-outlet></router-outlet>
