  <div class="container mt-5 col-sm-7">
    <div class="card border border-5 border-info">
      <div class="card-body">
        <h5>Pokemón</h5>
        <div class="container col-8 mt-4 mb-4">
            <h6>Ingrese nombre o numero de pokemón</h6>
            <div class="input-group flex-nowrap mt-4 mb-4">
              <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
              <input type="text" class="form-control" placeholder="Busque su pokemón" aria-label="Username" (input) = "getInput($event)" aria-describedby="addon-wrapping">
            </div>
            <hr>
            <div *ngIf="validation" class="alert alert-danger" role="alert">
              {{validation}}
            </div>
            <div class="container col-3">
              <div class="marin-div">
              <a type="button" (click)="sendParam()" class="btn btn-info">Buscar</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
